<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="dicehub">DICEhub</h2>
      <h1>
        Dynamic Interface for Computation and Evaluation
      </h1>
      <p>
        <a class="button" href="<%- url_for("/v1/guide/") %>">GET STARTED</a>
        <a class="button white" href="https://github.com/dicehub" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="footer">
  Copyright &copy; 2016-<%- new Date().getFullYear() %> DICEhub</p>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
