<ul class="menu-root">
    <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
        <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
        <% if (type === 'guide') { %>
            <% if (fileName === 'installation') { %>
                <li><h3>Essentials</h3></li>
            <% } %>
            <% if (fileName === 'advanced_features') { %>
                <li><h3>Advanced</h3></li>
            <% } %>
        <% } %>
        <li>
            <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
        </li>
    <% }) %>
</ul>
